<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h4><%= study.name %> Results</h4>
      </div>
      <div class="panel-body" id="<%= study.id %>">

      </div>
    </div>
  </div>
</div>