<div class="panel panel-default hidden study-genes-panel" id="<%= study.id %>-panel">
  <div class="panel-heading">
    <div class="panel-title">
      <h4><%= link_to "#{study.name} Results: (<span id='#{study.id}-count'></span> matches) <span class='fas fa-chevron-down toggle-glyph'></span>".html_safe, "##{study.id}-body", data: {toggle: 'collapse'} %></h4>
    </div>
  </div>
  <div id="<%= study.id %>-body" class="panel-collapse collapse in">
    <div class="panel-body" id="<%= study.id %>"></div>
  </div>
</div>
