<p>The following file failed to automatically push to FireCloud:</p>

<p>Study: <%= @study.name %><br />
File: <%= @study_file.upload_file_name %><br />
FireCloud Workspace: <%= @study.firecloud_workspace %></p>

<p>The error that occurred was: <%= @error %></p>
<p>Please manually push the file to FireCloud.</p>