<p>Your Single Cell Portal parse job has failed with the following error:</p>

<p><%= @error %></p>

<p>This file has been deleted from your study, and any child database records removed.
  If you have any questions about this error, you can contact the Single Cell Portal Team at
  <%= mail_to 'scp-support@broadinstitute.zendesk.com', 'scp-support@broadinstitute.zendesk.com' %>.</p>