<p>The following files were not found in their respective GCS buckets as part of the nightly storage sanity check:</p>

<table border="1">
  <thead>
    <tr>
      <th>Study</th>
      <th>Owner</th>
      <th>Filename</th>
      <th>Reason</th>
    </tr>
  </thead>
  <tbody>
    <% @missing_files.each do |missing_file| %>
      <tr>
        <td><%= truncate(missing_file[:study], length: 30) %></td>
        <td><%= missing_file[:owner] %></td>
        <td><%= missing_file[:filename] %></td>
        <td><%= missing_file[:reason] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>Any files that were not uploaded to their respective buckets have been scheduled to retry.</p>