<div class="col-xs-6">
  <%= f.label :attribute_name, 'Filter associated model using' %>
  <%= f.text_field :attribute_name, class: 'form-control parameter-select' %>
</div>
<div class="col-xs-6">
  <%= f.label :value, 'Association filter value' %>
  <%= f.text_field :value, class: 'form-control parameter-select' %>
</div>