$('#analysis-parameter-<%= params[:analysis_parameter_id] %>-wrapper').replaceWith("<%= j(render partial: 'analysis_parameter_form', locals: {analysis_parameter: @analysis_parameter}) %>");
<% unless @analysis_parameter.errors.any? %>
  $('#generic-update-target').html("<%= escape_javascript(render partial: '/layouts/generic_update_modal') %>");
  $('#generic-update-modal').find('.modal-dialog').removeClass('modal-lg');
  $('#generic-update-modal-title').html('Update Successful');
  $('#generic-update-modal-body').html('<p class="text-center">\'<%= @analysis_parameter.config_param_name %>\' was successfully updated.</p>');
  $("#generic-update-modal").modal("show");
<% end %>