<div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-labelledby="download-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="text-center">Download <%= @study_file.upload_file_name %></h4>
			</div>
			<div class="modal-body">
				<p class="text-center"><%= link_to "#{number_to_human_size(@study_file.upload_file_size, prefix: :si)} <span class='fa fa-download'></span>".html_safe, @templink.download_url, class: 'btn btn-lg btn-primary', download: @study_file.upload_file_name %></p>
			</div>
			<div class="modal-footer">
				<p class="text-center text-success">This link will be valid until <%= @valid_until.strftime("%F %H:%M:%S") %></p>
				<button class="close" data-dismiss="modal">×</button>
			</div>
		</div>
	</div>
</div>
