<div class="modal fade" id="fastq-modal" role="dialog" aria-labelledby="fastq-modal-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="text-danger text-center">Is this primary human data?</h3>
			</div>
			<div class="modal-body">
				<p class="lead">You must attest that the fastq data you are uploading is not primary human data.  Click 'Not human data' if your fastq data conforms to this guideline, or 'Human data' to cancel the upload and provide a link to where the primary human data is stored publicly.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success" data-dismiss="modal">Not human data</button>
				<button class="btn btn-danger" id="human-data">Human data</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
	$("#fastq-modal").modal({show: true, backdrop: 'static'});
	$('#human-data').click(function() {
		// if user is supplying human data, hide file uploader and show text field for link
		// also disable and enable correct inputs
		$("#fastq-modal").modal('toggle');
		var target = '<%= target %>';
		console.log('Toggling Fastq fields for #' + target)
		toggleFastqFields(target);
	});
</script>
