<span id="initialized">
	<% if @study.initialized? %>
		<small class="initialize-label" data-toggle="tooltip" data-placement="right" title="Your study is now initialized and visualizations have been enabled."><span class="label label-success">Initialized <span class="fa fa-check" ></span> </span></small>
	<% else %>
		<small class="initialize-label" data-toggle="tooltip" data-placement="right" title="You have not uploaded all of the required files to enable visualizations yet."><span class="label label-danger">Not Initialized <span class="fa fa-times" ></span> </span></small>
	<% end %>
</span>