<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="text-center">Parsing Upload... Please Wait</h4>
			<div class="progress progress-striped active">
				<div class="progress-bar"><span class="percent">0%</span></div>
			</div>
		</div>
		<div class="modal-body">
			<div class="spinner-target"></div>
		</div>
	</div>
</div>