<div class="modal fade" id="required-modal" tabindex="-1" role="dialog" aria-labelledby="required-modal-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="text-danger text-center">Skipping Required Steps</h3>
			</div>
			<div class="modal-body">
				<p class="lead">You are skipping a required file.  Doing so will temporarily disable all visualizations for your study.  Users will be still be able to download files (if enabled), but no visualizations will be shown until you upload all required files.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success" data-dismiss="modal" id="accept-skip-required">OK</button>
			</div>
		</div>
	</div>
</div>
