<% if required == true %>
	<small class="initialize-label" id="<%= id %>"><span class="label label-danger">Required</span></small>
<% else %>
	<small class="initialize-label" id="<%= id %>"><span class="label label-info">Optional</span></small>
<% end %>