<p class='text-info sort-warning'><strong>Once you begin uploading your coordinate matrix, you will be able to add your
  <%= link_to 'genes', 'https://kb.10xgenomics.com/hc/en-us/articles/115000794686-How-is-the-MEX-format-used-for-the-gene-barcode-matrices', target: :_blank %> (.csv or .tsv) and
  <%= link_to 'barcodes', 'https://kb.10xgenomics.com/hc/en-us/articles/115000794686-How-is-the-MEX-format-used-for-the-gene-barcode-matrices', target: :_blank %>
  (.tsv or .csv) files separately by clicking the corresponding buttons.</strong>
</p>