<div class="modal fade" id="sync-notice-modal" role="dialog" aria-labelledby="sync-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-center text-success">Syncing Successful!</h4>
      </div>
      <div class="modal-body">
        <p class="text-success text-center"><%= message %></p>
      </div>
      <div class="modal-footer">
        <button class="close" data-dismiss="modal">×</button>
      </div>
    </div>
  </div>
</div>