<div class="modal fade" id="upload-success-modal" role="dialog" aria-labelledby="success-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-center">Upload Complete</h4>
      </div>
      <div class="modal-body">
        <h4 class="text-center text-success">Your file has successfully been uploaded.</h4>
        <% if study_file.parseable? && study_file.able_to_parse? %>
          <p class="lead text-center">Your file is currently being parsed.  You will receive an email at <%= current_user.email %> when the parse has completed.</p>
        <% elsif study_file.parseable? && !study_file.able_to_parse? %>
          <p class="lead text-center text-danger">This file type requires other associated files to complete parsing.  Please use the new forms below to add the necessary files.</p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="parse-modal-dismiss"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
</div>