<h1>New Study</h1>
<div class="bs-callout bs-callout-default" id="firecloud-disclaimer">
  <h4>Data File Storage & Workspaces</h4>
  <p>All uploaded data files for studies are stored in <%= link_to 'Terra', 'https://app.terra.bio/', target: :_blank %> workspaces.
    If you do not already have a Terra account, you will receive an invitation email after you create your study.
    While you can interact with your uploaded files directly through the Single Cell Portal, you must complete the Terra registration process
    before you can see or use your files in your Terra workspace.  You will also receive an email letting you know that the Single Cell Portal
    service account has shared the study workspace with you.</p>
  <p>You may also create a study based on an existing workspace you already own.  To do so, select <strong>'Yes'</strong> under <strong>'Use Existing Workspace'</strong>
    and then provide the name in the text box.</p>
  <h4>Billing Projects</h4>
  <p>You must select a billing project when creating your study.  You may use the default project, but you will not be allowed to run any computes in your workspace.  If you
    wish to run computes, then you must <%= scp_link_to 'create a billing project', billing_projects_path %> (using a Google billing account that you own) first before creating this study.
    <strong>By selecting a project for your study other than the default project, you will be granting the Single Cell Portal access to your project if it does not already have access
      (projects created through the portal do by default).</strong></p>
  <strong><p class="text-danger"><i class="fas fa-fw fa-exclamation-triangle"></i> You cannot change the billing project of a workspace once it has been created.</p></strong>
</div>

<%= render 'form' %>

<%= scp_link_to "<span class='fas fa-chevron-left'></span> Back".html_safe, studies_path, class: 'btn btn-warning' %>

<div class="modal fade" id="create-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-center">Creating study and provisioning workspace... Please wait<br/></h4>
      </div>
      <div class="modal-body">
        <div class="spinner-target" id="create-study-spinner"></div>
      </div>
      <div class="modal-footer">
        <button class="close" data-dismiss="modal">×</button>
      </div>
    </div>
  </div>
</div>