<div id="ideogram-container" style="margin-top: 12px">
  <div id="filters-container">
    <ul id="tracks-to-display">
    </ul>
  </div>
  <!-- Ideogram goes here -->
</div>
<style>
#tracks-to-display {
  list-style-type: none;
  float: left;
  padding-left: 20px;
}

#tracks-to-display label {
  font-weight: normal;
  position: relative;
  top: 1px;
}

#tracks-to-display input {
  margin-right: 5px;
}

#_ideogramLegend {
  position: relative;
  left: 20px;
}

#ideogramTitle {
  margin-left: 110px;
}
</style>