
<div id="ideogram-container" style="margin: 12px">
  <div id="filters-container">
  <ul id="tracks-to-display">
  </ul>
</div>

  <!-- Ideogram goes here -->
</div>
<style>
#tracks-to-display {
  list-style-type: none;
  float: left;
}

#tracks-to-display label {
  font-weight: normal;
}

#ideogram-container {
  margin: 12px;
  position: relative;
  left: -15px;
}
#_ideogramLegend {
  position: relative;
  left: 30px;
}
</style>
<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">



</script>