<script>

  var igvContainer, igvOptions, igvBrowser;

  igvContainer = document.getElementById("igv-container");

  igvOptions = {
    locus: "7:55,085,725-55,276,031",

    reference: {
      id: "hg19",
      fastaURL: "//igv.broadinstitute.org/genomes/seq/1kg_v37/human_g1k_v37_decoy.fasta",
      cytobandURL: "//igv.broadinstitute.org/genomes/seq/b37/b37_cytoband.txt"
    },

    trackDefaults: {
      bam: {
        coverageThreshold: 0.2,
        coverageQualityWeight: true
      }
    },

    tracks: [
      {
        name: "Genes",
        url: "//igv.broadinstitute.org/annotations/hg19/genes/gencode.v18.collapsed.bed",
        index: "//igv.broadinstitute.org/annotations/hg19/genes/gencode.v18.collapsed.bed.idx",
        displayMode: "EXPANDED"
      }
    ]
  };

  igvBrowser = igv.createBrowser(igvContainer, igvContainer);
</script>

<div id="igv-container">
</div>