<div id="igv-container">
</div>

<script>

  $(document).on('click', '#genome-tab-nav', function (e) {

    if (typeof igv.browser !== 'undefined') {
      // If IGV has already been created, then bail
      return;
    }

    var igvContainer, igvOptions, igvBrowser, igvTracks, i, bam;

    igvContainer = document.getElementById('igv-container');

    igvTracks = [];

    for (i = 0; i < bamsToViewInIgv.length; i++) {
      bam = bamsToViewInIgv[i];
      igvTracks.push({
        url: bam.url,
        indexURL: bam.indexUrl,
        oauthToken: accessToken,
        label: bam.url.split('/o/')[1].split('?')[0]
      })
    }

    igvOptions = {
      // showChromosomeWidget: true,
      genome: "hg19",
      // locus: "all",
      locus: ['myc'],
      // apiKey: 'AIzaSyDUUAUFpQEN4mumeMNIRWXSiTh5cPtUAD0',
      tracks: igvTracks,
      supportQueryParameters: true
    };

    igvBrowser = igv.createBrowser(igvContainer, igvOptions);

  });

</script>