@import './_colors.scss';

.mask {
  height: 245px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
}

.rectangle {
  height: 45px;
  background-color: #344563 !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
  ul.dropdown-menu {
    background-color: #344563 !important;
  }
}

@media screen and (max-width: 768px) {
  ul.nav.navbar-nav.pull-right {
    margin-top: -7.5px;
    background-color: #344563 !important;
  }
  #breadcrumbs {
    display: none;
  }
}

#main-banner-logo {
  float: left;
  margin-top: 66px;
  margin-left: 35px;
}

#scp-logo {
  height: 89px;
  width: 383px;
  display: inline-block;
}

#beta-main {
  position: relative;
  top: -23px;
  margin-left: 10px;
}

#beta-nav {
  color: #ffffff;
  font-weight: 600;
  margin-left: -10px;
}

#main-banner-name {
  font-size: 24px;
  line-height: 22px;
  color: #4A4A4A;
  font-weight: 200;
}

#main-banner-tag-line {
  font-size: 18px;
  line-height: 22px;
  color: #4A4A4A;
  font-weight: 200;
}

.scp-banner-position {
  position: relative;
  left: 102px;
}

#main-banner-counts {
  float: right;
  min-width: 245px;
  max-width: 245px;
  margin-top: 100px;
  margin-right: 410px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}

.left-border-0-5 {
  border-left: 0.5px solid #FFFFFF;
}

.counts-text {
  font-size: 24px;
}

.green-count {
  color: lighten(#80c065, 10%);
}

.blue-count {
  color: lighten(#4e72b8, 10%);
}

#scp-footer {
  background-color: #344563 !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
  padding-top: 25px;
  padding-left: 25px;
  position: relative;
  margin-top: -108px; /* negative value of footer height */
  height: 108px;
  clear:both;
  p {
    font-size: 14px;
    font-weight: 200;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
}

.footer-text-block {
  color: white;
  font-size: 18px;
  font-weight: 200;
  height: 54px;
  padding: 15px 15px 0 15px;
  float: left;
  display: inline-block;
}

.study-panel, .study-genes-panel {
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
  .panel-heading {
    background-color: #ffffff !important;
    a {
      color: $action-color;
    }
  }
  .panel-body {
    border-top: none !important;
  }
}

.toggle-description {
  font-size: small;
}



.table-striped {
  border-radius: 8px;
  th {
    background-color: transparent;
  }
}

.scp-help-text {
  font-size: 18px;
  font-weight: 300;
}
