/* defines global colors */

/* color for primary buttons, links, and other indicators that something is a clickable action */
$action-color: #4d72aa;

/* non-fatal errors -- color palette borrowed from Terra */
$warning-background-color: #feeed8;
$warning-icon-color: #f6901b;

/* danger */
$danger-color: #d9534f;
