#home-page-tabs, #study-tabs {
  border-bottom: none;
  li  {
    a {
      font-size: larger;
      color: $action-color;
      border: none;
      background-color: transparent;
      :hover {
        font-weight: bold;
      }

    }

  }
  li.active > a {
    border-bottom: 2px solid $action-color;
    background: #fff;
    color: #333;
  }

  li#covid19-tab {
    a {
      border-radius: 5px;
      border: 2px solid lighten($action-color, 20%);
      background: lighten($action-color, 40%);
      padding: 5px 10px;
      margin-top: 2px;
    }
  }
}

button.text-button {

}
