#results-panel {
  padding-top: 14px;
}

#results-panel > div > ul {
  background-color: #dce3e9;
}

#results-content.tab-content {
  background-color: white;
  border-left: 1px solid #d8dde6;
  border-right: 1px solid #d8dde6;
  padding: 10px;
}

#results-content > div {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 3px 2px 0 rgba(0, 0, 0, 0.12);
  height: 219px;
  margin: 0 auto;
  padding: 15px;
  width: 1196px;
  width: 100%;

  #cell-count {
    background-color: green;
  }
}

#result-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

#descrition-text-area {
  color: #333f52;
  color: #333f52;
  font-size: 14px;
  height: 120px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 1133px;
  word-wrap: break-word;
}
