#search-panel {
  display: block;
  white-space: nowrap;

  #facet-area {
    margin-left: 3em;
    vertical-align: bottom;
  }

  #download-button {
    float: right;
  }
}

.search {
  display: inline-block;
}
