/**
* Styles for React-based faceted search UI for studies
*/

// To consider: remove this min-height once study result list can be shown
#main-body {
  min-height: 300px;
}

.search-button {
  float: right;
  position: relative;
  top: -2.4em;
  border-radius: 0 4px 4px 0;
}

#bulk-download-modal {
  #download-command-caption {
    font-size: 12px;
  }

  .download-refresh-button {
    margin-top: -3px;
  }
}

#search-panel {
  .facet{
    background-color: white;
    vertical-align: top;
    display: inline-block;
    padding: 8px 16px;
    margin-right: 8px;
    border-radius: 15px;
    border: 0.64px solid #4d72aa;
    box-sizing: border-box;
    cursor: pointer;
  }
  #download-button{
    background-color: white;
    vertical-align: top;
    display: inline-block;
    padding: 8px 16px;
    margin-right: 8px;
    border-radius: 15px;
    border: 0.64px solid #4d72aa;
    box-sizing: border-box;
    cursor: pointer;
  }
  .facet > span,
  #more-facets-button > span,
  #download-button > span {
    color: #4d72aa;
    font-weight: 500;
  }

  .filters-search-bar {
    margin: 4px 2px 10px 2px;
  }

  .clear-filters {
    color: #4d72aa;
    margin-left: 10px;
    position: relative;
    top: 8px;
    cursor: pointer;
  }

  .facet.active > span,
  #more-facets-button.active > span,
  #download-button.active > span {
    color: #fff;
    background-color: #4d72aa;
  }

  ul {
    list-style-type: none;
    padding-left: 15px;
  }

  li {
    width: 350px;
  }

  .default-filters-list-name {
    padding-left: 15px;
    font-weight: bold;
  }

  .facet-ontology-links {
    float: right;
  }

  .filters-box {
    width: 400px;
    border: 1px solid #aaa;
    background: #fff;
    position: absolute;
    z-index: 9000;
  }

  label {
    margin-left: 8px;
    font-weight: normal;
  }

  .facet-apply-button {
    float: right;
    margin: 0 10px 10px 0;
  }

  .filters-box-footer {
    height: 40px;
  }

  #facets-accordion-box {
    background: #fff;
    height: 300px;
    width: 400px;
    position: relative;
    top: 15px;
    padding-top: 1px;
  }

  .accordion .card {
    margin: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }

  .accordion .card-header {
    padding: 5px;
    color: #4d72aa;
    font-weight: 500;
    cursor: pointer;
  }

  .filters-search-bar {
    margin: 2px;
  }
}
