/**
* Styles for React-based faceted search UI for studies
*/

// TODO: Consider removing this min-height once study result list can be shown
#main-body {
  min-height: 300px;
}

#search-panel .facet > span,
#search-panel #more-filters-button > span {
  padding: 8px 16px;
  margin-right: 8px;
  border-radius: 15px;
  border: 0.64px solid #4d72aa;
  box-sizing: border-box;
  color: #4d72aa;
  font-weight: 500;
  cursor: pointer;
}

#search-panel .facet.active > span,
#search-panel #more-filters-button.active > span {
  color: #fff;
  background-color: #4d72aa;
}

#search-panel ul {
  list-style-type: none;
  padding-left: 15px;
}

#search-panel li {
  width: 250px;
}

#search-panel .default-filters-list-name {
  padding-left: 15px;
  font-weight: bold;
}

#search-panel .facet-ontology-links {
  float: right;
}

#search-panel .filters-box {
  width: 400px;
  border: 1px solid #aaa;
  background: #fff;
  position: absolute;
  z-index: 9000;
  height: 225px;
}

#search-panel label {
  margin-left: 8px;
  font-weight: normal;
}

#search-panel .facet-save-button {
  float: right;
  margin: 0 10px 10px 0;
}

#search-panel .filters-box-footer {
  height: 40px;
}

#search-panel #facets-accordion-box {
  background: #fff;
  height: 300px;
  width: 400px;
  position: relative;
  top: 15px;
  padding-top: 1px;
}

#search-panel .accordion .card {
  margin: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

#search-panel .accordion .card-header {
  padding: 5px;
  color: #4d72aa;
  font-weight: 500;
  cursor: pointer;
}

#search-panel .icon-left {
  margin-right: 8px;
}
