<div class="row">
	<div class="col-md-12">
    <h3 class="study-lead help-block text-center">Local accounts are no longer permitted.  Please contact <%= mail_to 'single_cell_portal@broadinstitute.org', 'us' %> about migrating your account if needed.</h3>
    <p class="text-center"><%= link_to "Sign in with <span class='fa fa-google'></span>".html_safe, user_google_oauth2_omniauth_authorize_path, class: 'btn btn-lg btn-danger', id: 'google-auth' %></p>
  </div>
</div>