<div class="row">
	<div class="col-md-12">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="bs-callout bs-callout-info">
          <h4 class="help-block text-center">Please sign in using a Google account</h4>
        </div>
      </div>
    </div>
    <p class="text-center"><%= link_to "Sign in with <span class='fab fa-google'></span>".html_safe, user_google_oauth2_omniauth_authorize_path, method: :post, class: 'btn btn-lg btn-danger', id: 'google-auth' %></p>
  </div>
</div>