<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <% @analysis_configuration.analysis_parameters.inputs.each do |parameter| %>
      <div class="form-group row <%= !parameter.visible? ? 'hidden' : nil %>">
        <div class="col-xs-12">
          <%= label_tag "workflow_#{parameter.config_param_name}", "#{parameter.config_param_name}" %><br />
          <%= parameter.description.present? ? "<span class='help-block'>#{parameter.description}</span>".html_safe : nil %>
          <%= render_analysis_parameter_input(parameter, @study).html_safe %>
        </div>
      </div>
    <% end %>
  </div>
</div>
