<h1>Editing '<%= @branding_group.name %>'</h1>

<%= render 'form' %>

<p>
  <%= scp_link_to "<span class='fas fa-search'></span> Show".html_safe, branding_group_path(@branding_group), class: 'btn btn-info' %>
  <%= scp_link_to "<span class='fas fa-chevron-left'></span> Back".html_safe, branding_groups_path, class: 'btn btn-warning' %>
</p>
