<div id="options-parent" class="panel-group">
  <div class="panel panel-info" id="pipelines-header">
    <div class="panel-heading">
      <div class="panel-title">
        <h4>
          <a href="#pipelines-panel" data-toggle="collapse" data-parent="#options-parent">Pipelines</a>
        </h4>
      </div>
    </div>
    <div class="panel-body collapse" id="pipelines-panel">
      <div class="row">
        <div class="col-sm-12">
          <ul>
            <li>CellRanger</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-info" id="cnv-header">
    <div class="panel-heading">
      <div class="panel-title">
        <h4>
          <a href="#cnv-panel" data-toggle="collapse" data-parent="#options-parent">CNV</a>
        </h4>
      </div>
    </div>
    <div class="panel-body collapse" id="cnv-panel">
      <div class="row">
        <div class="col-sm-12">
          <ul>
            <li>inferCNV</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>