<div id="boxpoints-picker">
	<%= label_tag :boxpoints_select, 'Data Points' %>
  <%= select_tag :boxpoints_select, options_for_select([['None', ''], ['All', 'all'], ['Outliers', 'outliers'] , ['Suspected Outliers','suspectedoutliers']], params[:boxpoints].nil? ? 'all' : params[:boxpoints]), class: 'form-control' %>
</div>

<script type="text/javascript">

	$("#boxpoints_select").change(function() {
		var mode = $(this).val();
		$('#boxpoints').val(mode);
		$('#selected_boxpoints').val(mode);
		$(expressionData).each(function() {
			this.boxpoints = mode;
			if (this.boxpoints == '') {
				this.boxpoints = false;
			}
			console.log("setting boxpoints for " + this.name + " to " + this.boxpoints);
		});
		<%= render partial: 'expression_box_layout' %>
		Plotly.newPlot('box-plot', expressionData, expressionLayout);
	});

</script>