<div class='form-inline navigation-form' id="colorscale-picker">
	<%= label_tag :colorscale, 'Color profile' %>&nbsp;<%= select_tag :colorscale, options_for_select(SiteController::COLORSCALE_THEMES, 'Reds'), class: 'form-control' %>
</div>