<div class='form-inline navigation-form'>
	<%= label_tag :colorscale, 'Select color profile' %><br />
	<%= select_tag :colorscale, options_for_select(SiteController::COLORSCALE_THEMES, 'Reds'), class: 'form-control' %>
</div>