<div id="colorscale-picker">
	<%= label_tag :colorscale, 'Color profile' %>&nbsp;<%= select_tag :colorscale, options_for_select(SiteController::COLORSCALE_THEMES, set_colorscale_value(@study, params)), class: 'form-control' %>
</div>