<div class='form-inline navigation-form'>
	<%= label_tag :cluster, 'Select sub-cluster' %><br />
	<%= select_tag :cluster, options_for_select(@options, params[:cluster]), class: 'form-control' %>
</div>