<div class="tab-pane expression-plot active" id="box-or-violin-tab" role="tabpanel">
  <div class="panel panel-default no-top-border">
    <div id="box-controls" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div id="box-plot"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tab-pane expression-plot" id="scatter-tab" role="tabpanel">
  <div class="panel panel-default no-top-border">
    <div id="scatter-plots" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="row" id="scatter-wrapper">
          <div class="col-md-7">
            <div id="scatter-plot"></div>
          </div>
          <div class="col-md-5">
            <div id="reference-plot"></div>
            <div id="cluster-figure-legend"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>