<script>

  function getGenomicRange(annot) {
    var chr, start, stop, startString, stopString, genomicRange;

    // Get genomic range
    chr = annot.chr;
    start = annot.start;
    stop = start + annot.length;
    startString = start.toLocaleString();
    stopString = stop.toLocaleString();
    genomicRange = 'chr' + chr + ':' + startString + '-' + stopString;

    return genomicRange;
  }

  function getEnsemblLink(annot) {
    var url, link;
    url = 'https://www.ensembl.org/' + annot.id;
    link = '<a target="_blank" href="' + url + '">' + annot.name + '</a>';
    return link;
  }

  function writeAnnotsTable() {

    var chr, annots, datum, row, header, table, annotsContainer, keys,
        genomicRange, ensemblLink, key, i, j, k, displayKeys;

    rows = [];

    annotsContainer = ideogram.annots;

    keys = ideogram.rawAnnots.keys;

    for (i = 0; i < annotsContainer.length; i++) {
      chr = annotsContainer[i].chr;
      annots = annotsContainer[i].annots;
      for (j = 0; j < annots.length; j++) {
        annot = annots[j];
        row = [];

        genomicRange = getGenomicRange(annot);
        ensemblLink = getEnsemblLink(annot);

        for (k = 0; k < keys.length; k++) {
          key = keys[k];
          if (key === 'name') {
            datum = ensemblLink;
          } else if (key === 'start') {
            datum = genomicRange;
          } else if (key === 'id') {
            continue;
          } else {
            datum = annot[key];
          }
          row.push(datum)

        }
        row = '<tr><td>' + row.join('</td><td>') + '</td></tr>';
        rows.push(row);
      }
    }

    displayKeys = [];
    for (i = 0; i < keys.length; i++) {
      key = keys[i];
      if (key == 'start') {
        key = 'Genomic range';
      } else if (key === 'id') {
        continue;
      } else {
        key = key[0].toUpperCase() + key.slice(1);
      }
      displayKeys.push(key)
    }

    header = '<tr><th>' + displayKeys.join('</th><th>') + '</th></tr>';

    table =
      '<table class="table table-striped table-sm">' +
        '<thead>' + header + '</thead>' +
        '<tbody>' + rows + '</tbody>' +
      '</table>';

    $('#ideogram-container').append(table);
  }

  function deserializeAnnotTracks() {

    var raContainer, chr, rawAnnots, ra,
      newRaContainers, newRa, newRas, expressionValues,
      keys = ideogram.rawAnnots.keys,
      rawAnnotContainers = ideogram.rawAnnots.annots;

    newRaContainers = [];

    for (var i = 0; i < rawAnnotContainers.length; i++) {
      raContainer = rawAnnotContainers[i];
      chr = raContainer.chr;
      rawAnnots = raContainer.annots;
      newRas = [];
      for (var j = 0; j < rawAnnots.length; j++) {
        ra = rawAnnots[j]; // [name, start, length, exp_1, exp_2, ...]
        expressionValues = ra.slice(3,)
        console.log(expressionValues);
        for (var k = 0; k < expressionValues.length; k++) {
          newRa = ra.slice(0, 3); // name, start, length
          newRa.push(k, expressionValues[k]); // track index, exp_k
          newRas.push(newRa);
        }
      }
      newRaContainers.push({chr: chr, annots: newRas});
    }

    keys.splice(3, 0, 'trackIndex');
    ideogram.rawAnnots.keys = keys;
    ideogram.rawAnnots.annots = newRaContainers;


  }

  var annotHeight = 3.5;
  var ideoAnnotShape =
      'm0,0 l 0 ' + (2 * annotHeight) +
      'l ' + annotHeight/2 + ' 0' +
      'l 0 -' + (2 * annotHeight) + 'z';

  var annotationTracks = [
      {id: 'highExpressionTrack', displayName: 'High expression', color: '#FFA500', shape: ideoAnnotShape},
      {id: 'mediumExpressionTrack', displayName: 'Medium expression', color: '#CCC', shape: ideoAnnotShape},
      {id: 'lowExpressionTrack',  displayName: 'Low expression', color: '#551A8B', shape: ideoAnnotShape}
  ];

  var ideogram = new Ideogram({
    container: '#ideogram-container',
    organism: 'human',
    assembly: 'GRCh37',
    chrHeight: 400,
    dataDir: 'https://unpkg.com/ideogram@0.16.0/dist/data/bands/native/',
    annotationsPath: '/single_cell/infercnv_exp_means.json',
    annotationTracks: annotationTracks,
    onLoadAnnots: deserializeAnnotTracks//,
    //onDrawAnnots: writeAnnotsTable
  });


</script>