<script src="https://unpkg.com/ideogram@0.16.0/dist/js/ideogram.min.js"></script>

<script>

  annotsContainer = {"keys":["name","start","length","id","type","all","Example cluster","Two dimensional"],"annots":[{"chr":"X","annots":[["Itm2a",107397099,6277,"ENSMUSG00000031239","protein_coding",0.0,0.0,0.0]]},{"chr":"7","annots":[["Sergef",46443154,196653,"ENSMUSG00000030839","protein_coding",6.891375,6.891375,6.891375],["Fam71e2",4753226,18076,"ENSMUSG00000092518","protein_coding",0.0,0.0,0.0]]},{"chr":"3","annots":[["Chil5",106016919,15895,"ENSMUSG00000043873","protein_coding",5.466,5.466,5.466],["Gstm2",107981702,4751,"ENSMUSG00000040562","protein_coding",4.524,4.524,4.524]]},{"chr":"5","annots":[["Fam109a",121848984,5648,"ENSMUSG00000044134","protein_coding",6.243666666666667,6.243666666666667,6.243666666666667]]},{"chr":"1","annots":[["Dhx9",153455758,31902,"ENSMUSG00000042699","protein_coding",4.821777777777777,4.821777777777777,4.821777777777777]]},{"chr":"4","annots":[["Ssu72",155704800,29079,"ENSMUSG00000029038","protein_coding",6.602666666666667,6.602666666666667,6.602666666666667]]},{"chr":"2","annots":[["Olfr1018",85818479,5742,"ENSMUSG00000043892","protein_coding",0.0,0.0,0.0],["Gm14444",175010241,9007,"ENSMUSG00000078906","protein_coding",4.909,4.909,4.909]]},{"chr":"12","annots":[["Eif2b2",85219481,7147,"ENSMUSG00000004788","protein_coding",6.717666666666666,6.717666666666666,6.717666666666666]]},{"chr":"13","annots":[["1700061E18Rik",41800783,1012,"ENSMUSG00000085759","antisense_RNA",0.0,0.0,0.0]]},{"chr":"11","annots":[["Mks1",87853215,10588,"ENSMUSG00000034121","protein_coding",5.038333333333334,5.038333333333334,5.038333333333334],["Gm12000",11695133,1306,"ENSMUSG00000073145","antisense_RNA",0.0,0.0,0.0]]},{"chr":"10","annots":[["Hebp2",18539498,6578,"ENSMUSG00000019853","protein_coding",0.0,0.0,0.0]]},{"chr":"8","annots":[["Setd6",95715881,3129,"ENSMUSG00000031671","protein_coding",6.6335,6.6335,6.6335]]},{"chr":"9","annots":[["Psma4",54950790,7240,"ENSMUSG00000032301","protein_coding",6.984999999999999,6.984999999999999,6.984999999999999]]}]};

  function writeAnnotsTable() {
    rows = [];

    for (i = 0; i < annotsContainer.annots.length; i++) {
      chr = annotsContainer.annots[i].chr
      annots = annotsContainer.annots[i].annots
      for (j = 0; j < annots.length; j++) {
        annot = annots[j];
        row = []
        for (k = 0; k < annot.length; k++) {
          datum = annot[k];
          row.push(datum)
        }
        row = '<tr><td>' + row.join('</td><td>') + '</td></tr>';
        rows.push(row);
      }
    }

    table = '<table class="table table-striped table-sm">' + rows + '</table>';

    $('#ideogram-container').append(table);
  }

  var ideogram = new Ideogram({
    container: '#ideogram-container',
    organism: 'mouse',
    chrHeight: 400,
    annotationsPath: '/single_cell/example_data/public-study_exp_means.json',
    onLoad: writeAnnotsTable
  });


</script>