<div class='modal fade' id='failure_modal' tabindex='-1' role='dialog' aria-labelledby='failure_modal_label' aria-hidden='true'>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-body'>
				<p class="text-danger text-center">Cannot load '<strong><%= params[:cluster]%></strong>': cluster-level data not found.</p>
			</div>
			<div class="modal-footer">
				<button class="close" data-dismiss="modal">×</button>
			</div>
		</div>
	</div>
</div>