<div class="row">
  <div class="col-md-12">
    <%= render partial: '/site/analysis/submission_history' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: '/site/analysis/submit_workflow' %>
  </div>
</div>
