<div id="study-description-content">
  <%= @study.description.html_safe %>
</div>
<% if user_signed_in? && @study.can_edit?(current_user) %>
  <p><%= link_to "<i class='fas fa-fw fa-edit'></i> Edit Description".html_safe, 'javascript:;', class: 'btn btn-primary', id: 'edit-study-description' %></p>

  <script type="text/javascript">

      $('#edit-study-description').click(function() {
          $.ajax({
              method: 'GET',
              url: '<%= edit_study_description_path(study_name: @study.url_safe_name) %>',
              dataType: 'script'
          });
      });

  </script>

<% end %>