<div class='form-inline navigation-form'>
	<%= label_tag :cluster, 'Sub-cluster' %><br />
	<%= select_tag :cluster, options_for_select(@options, params[:cluster]), class: 'form-control' %>
</div>
<%= javascript_tag do %>

	$("#cluster").change(function() {
		var url = '<%= render_cluster_path(study_name: params[:study_name]) %>';
		var target = document.getElementById('plots');
		var spinner = new Spinner(opts).spin(target);
		$(target).data('spinner', spinner);
		var cluster = $('#cluster').val();
		if (cluster == "") {
			$.get(url);
		} else {
			$.get(url + '?cluster=' + cluster);
		}
	});

<% end %>