<div id="options-container" class="col-md-2">
  <%= render partial: 'analysis_options' %>
</div>
<div id="render-container" class="col-md-10">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'analysis_status_history' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'analysis_submission' %>
    </div>
  </div>
</div>