<p>Welcome to the Broad Institute’s Single Cell Portal (“SCP”). Your access to and use of SCP is subject to the following
  terms and conditions, our <%= link_to 'Privacy Policy', privacy_policy_path %>, as well as all Federal laws, including,
  but not limited to, the Privacy Act, 5 U.S.C. 552a (collectively, the “Terms”). These Terms are a binding contract between
  you and the Broad Institute, Inc. ("Broad," "we" and "us"). By accessing and using SCP, you accept, without limitation
  or qualification, these Terms. If you have any questions, comments, or concerns regarding these terms or SCP, please
  contact us at <%= mail_to 'scp-support@broadinstitute.zendesk.com', 'scp-support@broadinstitute.zendesk.com' %>.</p>
<h3>Will these Terms ever change?</h3>
<p>We are constantly trying to improve SCP, so these Terms may need to change along with SCP.  Broad maintains the right
  to modify the Terms of Service, and may do so by posting notice of such modifications on this page, sending you an email,
  or trying to notify you by some other means. Any modification made is effective immediately upon posting the modification
  (unless otherwise stated). You should visit this page periodically to review the current Terms.</p>
<h3>What about my privacy?</h3>
<p>For the current SCP Privacy Policy, please click <%= link_to 'here', privacy_policy_path %>.</p>
<h3>Conduct</h3>
<p>You agree to access and use SCP for lawful purposes only. You are responsible for following any and all laws, statutes,
  rules, and regulations relating to your use of SCP.</p>
<h3>By accessing and using SCP, you agree that you will:</h3>
<ul>
  <li>Notify the Broad Institute if you believe you are being granted access that you should not have.</li>
  <li>Access SCP using only your own individual account, or an account to which you have been specifically granted access.</li>
  <li>Maintain the confidentiality of your authentication credentials such as your password; a Broad Institute employee
    will never ask you to reveal your password.</li>
  <li>Report any security incidents relating to lost passwords to the Broad Institute.</li>
  <li>Follow proper logon/logoff procedures as prompted by the Google-managed sign-on process. You must manually login to
    your session and promptly close your browser when your session is no longer active.</li>
  <li>Ensure that Web browsers use Transport Layer Security (TLS) 1.2 (or higher). TLS must use a minimum of 256-bit, encryption.</li>
</ul>
<h3>By accessing and using SCP, you agree that you will NOT:</h3>
<ul>
  <li>Use SCP to commit a criminal offense, or to encourage others to conduct acts that would constitute a criminal offense
    or give rise to civil liability.</li>
  <li>Browse, search or reveal any protected data except in accordance with that which is required to perform your legitimate
    tasks or assigned duties.</li>
  <li>Establish any unauthorized interfaces with SCP between systems, networks, and applications.</li>
  <li>Upload, post, download or use any content, material, data or information that infringes or violates the academic or
    intellectual property rights of others (including the Broad Institute).</li>
  <li>Upload any content, material, data or information that contains a software virus, such as a Trojan Horse or any other
    computer codes, files, or programs that may alter, damage, or interrupt the daily function of SCP and its users.</li>
  <li>Upload or post any content or material that is not appropriate to the purpose of SCP, such as graphic or violent
    content.</li>
  <li>Publicly upload any content, material, data or information that you do not have the authorization or consent to share
    or make public on the internet.</li>
  <li>Retrieve protected data, or in any other way disclose information, for someone who does not have authority to access
    that information.</li>
  <li>Use the portal as a primary archive for your work.</li>
</ul>
<h3>Registration</h3>
<p>You must sign up to SCP under a Google-managed identity. Both private Gmail accounts and institutional Google Apps
  accounts are allowed. For increased security when using SCP, we recommend enabling 2-Step verification for your Google-managed
  identity.</p>
<h3>User Uploaded Content</h3>
<p>Studies submitted on the SCP can be designated by the submitter as “public” or “private”. Public studies generally
  allow anyone visiting SCP to view the study and related data, and anyone logged into SCP can download related data
  (though even for public studies, data can be embargoed restricting data download to only those who have explicit authorization
  to download in). Private studies restrict viewing and data download access to the creator of the study, and those users
  who have the study specifically shared with them.  In addition, for operational and administrative purposes, SCP admins
  reserve the right to have a minimal number of application and administrative accounts that have the potential to view
  oth public and private  portal studies; but we do not access private portal studies except to maintain the site or otherwise
  with the permission of the listed study owner.</p>
<p>All data submitted to SCP under a public study, including any names and contact info provided with the data, will be
  made available for unrestricted public view, redistribution and reuse. Thus, it is your responsibility as a data contributor
  to:</p>
<ul>
  <li>Gain permission from any data sources and collaborators in order to share this information with SCP.</li>
  <li>Ensure that the data you are providing is accurate and complete.</li>
  <li>Ensure your data contributions comply with the ethical, legal, and regulatory norms and standards of the country it
    was generated in, as well as applicable international norms and standards. In particular, you must not include personal
    or confidential data unless appropriate consents and/or approvals have been obtained.</li>
  <li>Assure the owner and individuals who have sharing access to a study agree to having their emails associated publicly
    with the study or have sharing access removed before the study is public.</li>

</ul>
<h3>Access Levels</h3>
<p>Your level of access to SCP is limited to ensure your access is no more than necessary to perform your legitimate tasks
  or assigned duties. If you believe you are being granted access that you should not have, you must immediately notify
  the Broad Institute.</p>
<h3>Termination of Use</h3>
<p>We may in our sole discretion suspend/terminate your access to SCP without notification for violation of the Terms of
  Service, or for other conduct that we deem harmful/unlawful to others. We may also periodically review accounts for which
  a user has not logged on.</p>
<h3>External Links</h3>
<p>SCP may provide links or portals to other products, information or services that are maintained or controlled by external
  organizations. These links are not an endorsement of information, products, or services, and do not imply a direct
  association between the Broad Institute and the operators of the outside resource links. Your activities with respect
  to any third party products, services or portals may be governed by different terms.</p>
<h3>Disclaimer of Warranty</h3>
<p>You expressly understand and agree that your use of SCP, or any material available through it, is at your own risk.
  Neither the Broad Institute nor its employees warrant that SCP will be uninterrupted, problem-free, free of omissions,
  or error-free; nor do they make any warranty as to the results that may be obtained from SCP. The content hosted on
  SCP is experimental / academic in nature, and should only be used for research purposes. It should not be used to make
  or inform any medical, clinical or diagnostic decisions.</p>
<h3>Limitation of Liability</h3>
<p>In no event will the Broad Institute or its employees be liable for the incidental, indirect, special, punitive, exemplary,
  or consequential damages, arising out of your use of or inability to use SCP, including without limitation, loss of
  revenue or anticipated profits, loss of goodwill, loss of data, computer failure or malfunction, or any and all other
  damages.</p>
<h3>Choice of Law</h3>
<p>These Terms are governed by and will be construed under the laws of the Commonwealth of Massachusetts, without regard
  to the conflicts of laws provisions thereof. Any dispute arising from or relating to the subject matter of these Terms
  shall be finally settled in Cambridge, Massachusetts, in English, in accordance with the Streamlined Arbitration Rules
  and Procedures of Judicial Arbitration and Mediation Services, Inc. ("JAMS") then in effect, by one commercial arbitrator
  with substantial experience in resolving intellectual property and commercial contract disputes, who shall be selected
  from the appropriate list of JAMS arbitrators in accordance with such Rules. Judgment upon the award rendered by such
  arbitrator may be entered in any court of competent jurisdiction. Notwithstanding the foregoing obligation to arbitrate
  disputes, each party shall have the right to pursue injunctive or other equitable relief at any time, from any court of
  competent jurisdiction. For all purposes of this Agreement, the parties consent to exclusive jurisdiction and venue in
  the state or federal courts located in, respectively, Middlesex County, Massachusetts, or the District of Massachusetts.
  Any arbitration under these Terms will take place on an individual basis: class arbitrations and class actions are not
  permitted. YOU UNDERSTAND AND AGREE THAT BY ENTERING INTO THESE TERMS, YOU AND BENCHLING ARE EACH WAIVING THE RIGHT TO
  TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.</p>
<p class="lead help-block">Broad Institute, revised [<%= TosAcceptance.current_version %>]</p>