<div class="row">
  <div class="col-md-12">
    <h1 class="study-lead">Gene Expression for <%= render partial: 'gene_name_list' %><%= render partial: 'missing_genes' %><%= render partial: 'back_button' %></h1>
  </div>
</div>