<div class="row">
  <div class="col-md-12">
    <h1 class="study-lead">Gene<%= action_name =~ /set/ ? ' Set' : nil %> Expression for <%= render partial: 'gene_name_list' %><%= render partial: 'missing_genes' %></h1>
    <% if action_name =~ /set/ %>
      <h3 class="help-block lead">Expression values are shown as the <strong id="selected-consensus"><%= params[:consensus].nil? ? 'mean' : params[:consensus] %></strong> of expression values across all genes for each cell.</h3>
    <% end %>
  </div>
</div>