<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h4><%= link_to "WDL contents for #{@workflow_name} <span class='fa fa-chevron-down toggle-glyph'></span>".html_safe, '#wdl-contents', data: {toggle: 'collapse'} %></h4>
    </div>
  </div>
  <div class="panel-collapse panel-body collapse in" id="wdl-contents">
    <pre><%= @workflow_wdl %></pre>
  </div>
</div>