closeModalSpinner('#generic-modal-spinner', '#generic-modal', function () {
    $('#generic-update-target').html("<%= escape_javascript(render partial: '/layouts/generic_update_modal') %>");
    $('#generic-update-modal-title').html("<span class='text-success'>Your workflow has been successfully submitted:</span>");
    $('#generic-update-modal-body').html("<%= escape_javascript(render partial: 'new_submissions') %>");
    $("#generic-update-modal").modal("show");
    $.ajax({
        url: '<%= get_workspace_submissions_path(accession: @study.accession, study_name: @study.url_safe_name) %>',
        dataType: 'script'
    });
    var requestUrl = '<%= javascript_safe_url(request.fullpath) %>';
    ga('send', 'event', 'Terra Pipeline', 'workspace_submission_created');
    gaTrack(requestUrl, 'Single Cell Portal');
});