<%= render partial: 'main_banner_content' %>
<ul class="nav nav-tabs" role="tablist" id="home-page-tabs">
  <li role="presentation" class="home-nav active" id="browse-studies-nav">
    <a href="#browse-studies" data-toggle="tab"><span class="fas fa-book"></span> Browse Studies</a>
  </li>
  <li role="presentation" class="home-nav" id="browse-genes-nav">
    <a href="#browse-genes" data-toggle="tab"><span class="fas fa-dna"></span> Browse Genes</a>
  </li>
</ul>
<div class="tab-content top-pad">
  <div class="tab-pane active in" id="browse-studies" role="tabpanel">
    <%= render partial: '/site/search/browse_studies' %>
</div>
  <div class="tab-pane" id="browse-genes" role="tabpanel">
    <%= render partial: '/site/search/browse_genes' %>
  </div>
</div>
