<h1>Single Cell Portal Privacy Policy</h1>

<p class="lead">The following discloses our information gathering and dissemination practices for the Broad Institute Single Cell Portal website (http://portals.broadinstitute.org/single_cell)</p>

<h3>Information gathering</h3>

<p>The Broad Institute Single Cell Portal will store information related to user's Google profiles, including email addresses, user IDs, and OAuth tokens.  This information is gathered as part of the standard Google sign-in process.</p>

<h3>Use of information</h3>

<p>The Single Cell Portal uses the information gathered above to enable integration with Google-based services that require a Google account, such as <%= link_to 'FireCloud', 'https://portal.firecloud.org' %> and Google Cloud Storage Platform. At no time do we disclose any user information to outside sources. Web server logs are retained on a temporary basis and then deleted completely from our systems.  User information is stored in a password-protected database, and sensitive user information is only stored for the length of an active session and is encrypted at rest (using 256-bit AES encryption) and deleted upon sign out.</p>

<h3>Security</h3>

<p>This site has security measures in place to protect the loss, misuse and alteration of the information under our control. The Broad Institute Single Cell Portal however, is not liable for the loss, misuse or alteration of information on this site by any third party.</p>

<h3>Contacting the Single Cell Portal</h3>

<p>If you have any questions about this privacy statement, the practices of this site, or your dealings with this site, you can contact us through <%= link_to 'our help wiki', 'https://github.com/broadinstitute/single_cell_portal/wiki' %>.</p>