<h1>Editing '<%= @admin_configuration.config_type %>'</h1>

<%= render 'form' %>

<p><%= link_to "<span class='fas fa-chevron-left'></span> Back".html_safe, admin_configurations_path, class: 'btn btn-warning' %></p>