closeModalSpinner('#working-modal-spinner', '#working-modal', function () {
    $('#generic-update-target').empty();
    $('#generic-update-target').html("<%= escape_javascript(render partial: '/layouts/generic_update_modal') %>");
    $('#generic-update-modal-title').html("Service Account FireCloud Profile<br /><br /><span class='label label-default'><%= @portal_service_account %></span>");
    $('#generic-update-modal-body').html("<%= escape_javascript(render partial: 'firecloud_profile') %>");
    $('#generic-update-modal').modal('show')
});