$('#working-modal .spinner-target').data('spinner').stop();
$('#working-modal .spinner-target').html("<p class='text-center text-success'><strong>All user download quotas successfully reset to 0.</strong></p>");

setTimeout(function() {
    $("#working-modal").modal("hide");
}, 3000);
