/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require morpheus-latest.min
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require jquery-ui/core
 *= require jquery-ui/datepicker
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

/* additional styles */

html, body {
  height: 100%;
}

#main-body {
  padding-bottom: 155px;
}

#wrap {
  min-height: 100%;
}

.section-pad {
  margin-top: 80px;
  margin-bottom: 20px;
}

.white {
  color: #ffffff;
}

.white:hover {
  color: palegoldenrod;
}

.sc-navbar {
  min-height: 70px !important;
  .navbar-header {
    margin-top: 10px;
    .navbar-brand {
      font-size: 22px;
    }
  }
  .nav {
    margin-top: 12px;
    font-size: 16px;
  }
}

.bs-callout{
  margin:20px 0;
  padding:20px 15px 15px 20px;
  border-left:3px solid #eee
}

.bs-callout p:last-child{
  margin-bottom:0;
}

.bs-callout code{
  background-color:#fff;
  border-radius:3px
}

.bs-callout h4 {
  font-weight: bold;
  margin-top:0;
  margin-bottom:5px
}

.bs-callout ul{
  padding-left: 20px;
  color: inherit;
}

.bs-callout-danger{
  background-color:#fdf7f7;
  border-left: 5px solid #d9534f;
  color: #d9534f
}

.bs-callout-danger ul{
  color: #d9534f;
}

.bs-callout-warning{
  background-color:#fcf8f2;
  border-left: 5px solid #f0ad4e;
  color: #f0ad4e
}

.bs-callout-warning ul{
  color: #f0ad4e;
}

.bs-callout-info{
  background-color:#f4f8fa;
  border-left: 5px solid #5bc0de;
  color: #5bc0de
}

.bs-callout-info ul{
  color: #5bc0de;
}

.bs-callout-default {
  background-color: #f0f0f0;
  border-left: 5px solid #777;
  color: #777
}

.bs-callout-default ul{
  color: #777;
}

.bs-callout-primary {
  background-color: lighten(#428bca, 40%);
  border-left: 5px solid #428bca;
  color: #428bca
}

.bs-callout-primary ul{
  color: #428bca;
}

.bs-callout-success {
  background-color: lighten(#5cb85c, 40%);
  border-left: 5px solid #5cb85c;
  color: #5cb85c
}

.bs-callout-success ul{
  color: #5cb85c;
}

#google-auth {
  margin-top: 15px;
  border-radius: 9px;
  font-size: 32px;
}

.actions {
  white-space: nowrap;
}

.ui-widget-content, .ui-widget-header, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.devise-btn {
  margin-top: 20px;
}

.fastq-label {
  font-size: 100% !important;
}

#main-banner h1 sup small {
  color: #a94442 !important;
}

#iframe_wrapper {
  min-height: 570px;
}

#spinner_target, .spinner-target {
  min-height: 200px;
  position: relative;
  margin: 20px 0;
}

#cluster-plot {
  min-height: 600px;
}

.study-lead {
  font-weight: 200;
}

.navigation-form {
  display: inline-block;
  margin-right: 15px;
}

#colorscale-picker, #boxpoints-picker {
  display: inline-block;
}

#toggle-plots {
  display: inline-block;
  float: right;
}

.top-pad {
  margin-top: 10px;
}

.table-responsive .dataTables_wrapper .row {
  margin: 0;
}

.footer {
  background-color: #efefef;
  padding-top: 25px;
  position: relative;
  margin-top: -155px; /* negative value of footer height */
  height: 155px;
  clear:both;
  width: 100%;
}

.footer img {
  margin-bottom: 10px;
}

.footer a {
  color: inherit;
  text-decoration: underline;
}

.svg-container {
  margin: 0 auto !important;
}

.more-genes {
  vertical-align: top !important;
  margin-top: 2px;
}

#gene-set-modal textarea {
  width: 100%;
  min-height: 300px;
  margin-bottom: 25px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.right-border {
  border-right: 1px solid #DADADA;
}

#show-search-options {
  margin-top: -4px;
}

#heatmap-plot {
  padding-bottom: 25px;
}

.delete-btn {
  position: relative;
}

.sc-badge {
  display: inline-block;
  border-radius: 10px;
  font-size: 14px;
  min-width: 10px;
  padding: 3px 7px;
  vertical-align: middle;
}

.dark {
  border-top: 1px dashed #888;
}

#bar {
  margin-top: 10px;
}

.wizard li.disabled a:hover {
  cursor: not-allowed;
}

.error-header {
  background-color: #f2dede;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.initialize-label {
  position: relative;
  top: -5px;
}

.disabled > a {
  color: #999 !important;
}

.enabled > a {
  background-color: #F5F9FA !important;
}

.enabled > a:hover {
  background-color: #E6EFF2 !important;
}

.not-enabled > a {
  color: #9999A1 !important;
}

#cell-count {
  background-color: #337ab7;
  color: #fff;
}

#gsutil-command-wrapper {
  display: none;
}

#gsutil-command {
  padding: 7px 13px;
  margin-left: 20px;
  background-color: #2b2b2b;
}