<div class="bs-callout bs-callout-danger">
  <h3 class="text-danger text-center">We're sorry, but the change you wanted was rejected by the server.</h3>
  <p class="lead text-center">We were unable to verify the authenticity of your request.  It is possible that your session has expired.</p>
  <p class="lead text-center">Try signing out and in again to refresh your session before continuing.</p>
  <hr class="divider" />
  <p class="lead text-center">Please <a href="https://github.com/broadinstitute/single_cell_portal/issues">report an issue</a> if this problem persists.</p>
</div>