<ul class="nav navbar-nav" id="breadcrumbs">
  <% set_breadcrumbs.each do |breadcrumb| %>
    <li><%= link_to "<span class='fa fa-chevron-right'></span> 	#{breadcrumb[:title]}".html_safe, breadcrumb[:link], class: 'check-upload' %></li>
  <% end %>
</ul>