<p class="scp-help-text">If you are experiencing issues using Single Cell Portal or would like to ask a question,
    please send an email to <%= mail_to 'scp-support@broadinstitute.zendesk.com', 'scp-support@broadinstitute.zendesk.com' %>.</p>
<p class="scp-help-text">You can also visit our <%= link_to 'help wiki', 'https://github.com/broadinstitute/single_cell_portal/wiki', target: :_blank %>
    to view common topics about using Single Cell Portal.</p>
