<% if @study.embargoed?(current_user) %>
  <span class="label label-warning embargoed-file"><i class="fa fa-ban"></i> Not available until <%= @study.embargo.to_s(:long) %></span>
<% else %>
  <% if study_file.upload_file_name.nil? %>
    <%= link_to "<span class='fa fa-cloud-download'></span> External".html_safe, study_file.download_path, class: 'btn btn-primary', target: :_blank %>
  <% else %>
    <% if current_user.daily_download_quota + study_file.upload_file_size <= @download_quota %>
      <%= link_to "<span class='fa fa-download'></span> #{number_to_human_size(study_file.upload_file_size, prefix: :si)}".html_safe, study_file.download_path, class: "btn btn-primary dl-link #{study_file.file_type_class}", data: {filename: study_file.upload_file_name}, download: study_file.upload_file_name.nil? ? study_file.name : study_file.upload_file_name %>
    <% else %>
      <span class="btn btn-sm btn-danger disabled-download" title="This file exceeds your daily download quota of <%= number_to_human_size(@download_quota) %>.  Please wait until tomorrow.", data-toggle="tooltip"><i class="fa fa-times"></i> Exceeds Quota</span>
    <% end %>
  <% end %>
<% end %>
