<% if study_file.upload_file_name.nil? %>
	<%= link_to "<span class='fa fa-cloud-download'></span> External".html_safe, study_file.download_path, class: 'btn btn-primary', target: :_blank %>
<% else %>
  <%= link_to "<span class='fa fa-download'></span> #{number_to_human_size(study_file.upload_file_size, prefix: :si)}".html_safe, study_file.download_path, class: "btn btn-primary dl-link #{study_file.file_type_class}", download: study_file.upload_file_name.nil? ? study_file.name : study_file.upload_file_name %>
<% end %>

