<div class="modal fade" id="generic-update-modal" role="dialog" aria-labelledby="generic-update-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="generic-update-modal-title" class="text-center"></h4>
            </div>
            <div class="modal-body" id="generic-update-modal-body">
            </div>
            <div class="modal-footer">
                <button class="close" data-dismiss="modal">×</button>
            </div>
        </div>
    </div>
</div>