<nav class="navbar fluid navbar-inverse navbar-fixed-top sc-navbar" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<%= link_to "<span class='fa fa-home'></span> Single Cell Portal".html_safe, site_path, class: "navbar-brand hidden-xs" %>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<% set_breadcrumbs.each do |breadcrumb| %>
				<li><%= link_to "<span class='fa fa-chevron-right'></span> 	#{breadcrumb[:title]}".html_safe, breadcrumb[:link] %></li>
			<% end %>
		</ul>
		<ul class="nav navbar-nav pull-right">
			<% if user_signed_in? %>
				<li><%= link_to "<span class='fa fa-sign-out'></span> Logout: #{current_user.email.split('@').first}".html_safe, destroy_user_session_path, method: :delete %></li>
			<% end %>
			<li><%= link_to "<span class='fa fa-book'></span> My Studies".html_safe, studies_path %>
		</ul>
	</div>
</nav>
